body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculadora-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px; 
    height: 560px;
    background-color: rgb(0, 0, 0);
    border-radius: 14px;
}

#title {
    margin-left: 30px;
    color: rgb(30, 112, 30);
}

#result-field {
    width: 320px;
    height: 45px;
    margin-left: 13px;
    margin-bottom: 30px;
    font-size: 25px;
    background-color: rgb(104, 101, 101);
    border-radius: 10px;
    border: none;
}


#btn-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(5, 60px); 
    gap: 8px;
    margin: 5px;
    width: 320px;
    margin-left: 15px;
}

#btn-container button {
    font-family: "sans-serif";
    font-size: 25px;
    background-color: rgb(168, 122, 36);
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}

#btn-container button:hover {
    background-color: rgb(138, 99, 27);
}


#btn-container button:nth-child(16) {
    grid-row: span 2; 
}


#btn-container button:nth-child(17) {
    grid-column: span 2;
}
    
#btn-container button.btn-side {
    background-color: rgb(30, 112, 30);
}

#btn-container button.btn-side:hover {
    background-color: rgb(22, 87, 22);
}




#btn-historial {
    height: 50px;
    width: 280px;
    margin-left: 30px;
    margin-top: 12px;
    background-color: rgb(30, 112, 30);
    border: none;
    border-radius: 15px;
    font-family: "sans-serif";
    font-size: 22px;
    cursor: pointer;
}

#btn-historial:hover {
    background-color: rgb(22, 87, 22);
}
